#webglCanvas {
	float: left;
	padding: 15px;
}
#controls {
	position: absolute;
	top: 10px; left: 10px;
	color: #dddddd;
	padding: 4px;
	font-size: 13px;
	text-align: left;
}
#slider {
	float: left;
}

#controls label {
	float: left;
	padding: 5px 10px;
}
